.jumbotron {
  height: 600px;
  text-align: center;
  background: url("../../images/coffee.tea.mate.png") no-repeat center center;
  background-size: 70%;
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: black;
}
