.jumbotron {
  height: 600px;
  text-align: center;
  background: url("../../images/annie_mate.jpg") no-repeat center center;
  background-size: 70%;
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: black;
}
