.title {
  color: white;
  margin-right: 20px;
}

.bg-info {
  background-color: #dbad58!important;
  padding: 1%;
}

.appname {
  color: rgba(17, 9, 9, 0.623);
  margin: 0px 30px 0px 30px;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
}

.tab {
  font-size: 2em;
  padding: 10px;
  margin-left: 90px;
  font-family: 'Shadows Into Light', cursive;
  cursor: pointer;
}